
.idea/.name
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Projeto-Tecnicas-de-Programacao-I.iml
.idea/vcs.xml
.ipynb_checkpoints/Projeto-Notebook-checkpoint.ipynb
.ipynb_checkpoints/Projeto-Notebook-checkpoint.ipynb
.ipynb_checkpoints/Projeto-Notebook-checkpoint.ipynb
